.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
.idea
*.iml
.nuxt
.vscode
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

static/manifest*.json
static/sw.js
static/workbox-sw*.js*
